---
import type { GetStaticPaths } from "astro";
import { ProductDetails } from "../../components/product/ProductDetails";
import MainLayout from "../../layouts/MainLayout.astro";
import { getPriceBy, getPrices } from "../../lib/stripe";
import type Stripe from "stripe";
import { Image } from "astro:assets";

const { priceId } = Astro.params;

const price = await getPriceBy(priceId);
const product = price.product as Stripe.Product;

export const getStaticPaths = (async () => {
  const prices = await getPrices();
  return prices.map((price) => ({
    params: {
      priceId: price.id,
    },
  }));
}) satisfies GetStaticPaths;
---

<MainLayout
  title="Ecommerce Template"
  description="Easily customizable ecommerce template for free use"
>
  <div class="mx-10 my-8 grid grid-cols-1 md:grid-cols-2 gap-6">
    <Image
    width={500}
    loading={'lazy'}
    height={500}
      src={product.images[0]}
      alt={product.name}
      transition:name={price.id}
      class="rounded-xl max-h-[500px]"
    />
    <ProductDetails client:only="react" price={price} />
  </div>
</MainLayout>
