---
import type { GetStaticPaths } from "astro";
import { ProductDetails } from "../../components/product/ProductDetails";
import MainLayout from "../../layouts/MainLayout.astro";
import { getPriceBy, getPrices } from "../../lib/stripe";
import { Image } from "astro:assets";
import type Stripe from "stripe";

const { priceId } = Astro.params;

const price = await getPriceBy(priceId);
const product = price.product as Stripe.Product;

export const getStaticPaths = (async () => {
  const prices = await getPrices();
  return prices.map((price) => ({
    params: {
      priceId: price.id,
    },
  }));
}) satisfies GetStaticPaths;
---

<MainLayout
  title="Ecommerce Template"
  description="Easily customizable ecommerce template for free use"
>
  <div class="mx-10 my-8 flex flex-col lg:flex-row gap-6 lg:max-w-4xl">
    <Image
      height={400}
      width={400}
      loading={"lazy"}
      src={product.images[0]}
      alt={product.name}
      transition:name={price.id}
      class="rounded-xl"
    />
    <ProductDetails client:only="react" price={price} />
  </div>
</MainLayout>
