---
import { ViewTransitions } from 'astro:transitions';
import '@/styles/globals.css'
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
		<ViewTransitions />
  </head>
  <body class="min-h-screen w-full flex flex-col items-center justify-center">
    <Navbar />
    <div class="flex-grow w-full max-w-7xl px-4 md:px-6">
      <slot />
    </div>
    <Footer />
  </body>
</html>
